<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zaishitsu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.zaishitsu.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registered</display-name>
    <servlet-name>Registered</servlet-name>
    <servlet-class>com.zaishitsu.Registered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registered</servlet-name>
    <url-pattern>/Registered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberTable</display-name>
    <servlet-name>MemberTable</servlet-name>
    <servlet-class>com.zaishitsu.MemberTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberTable</servlet-name>
    <url-pattern>/MemberTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.zaishitsu.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>com.viewer.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
</web-app>